#topBox{width:100%;min-width: 1200px;position: fixed;top:0;left:0;z-index: 5000}
.header{width: 100%;min-width: 1200px; height: 144px;position: relative;display: flex;align-items: center;}
.header .inner{display: flex;padding: 40px 64px;align-items: center;}
.header #logo{width: 194px; font-size: 24px; font-weight: 700; padding-right: 374px;height: 64px;display: flex;align-items: center;}
.header .gnb{display: flex;gap: 80px; position: relative;z-index: 500;}
.header .gnb .dep1{width:115px;position: relative;height: 36px;display: flex;align-items: center;}
.header .gnb .dep1>a{font-size: 24px;font-weight: 400;line-height: 36px;letter-spacing: -0.44px;}
.header .gnb .dep2{padding-top: 41px;position: absolute;top:36px;width: 115px;display: none;/* position: absolute;top:144px;left:0;padding-top: 41px;width: 110px;display: none */}
.header .gnb .dep2>li>a{font-size: 20px;font-weight: 400;line-height: 26px;}
.header .gnb .dep2 li{padding-bottom: 14px;}
.gnb_bg{width: 100%;height: 133px;position: absolute; top: 144px;  background-color: rgba(0,0,0,0.8);display: none;}

/* 해더 컨트롤 gnb hover 시 */
/*
기본-배경없음. 글씨색 black 
-밝은배경
1.호버하면 class on으로
글씨색 로고,ul은 white li는 A5A5A5 
배경색은 (0,0,0,.8)
-어두운배경으로 가면
0.배경색(23,23,27,.22)으로 변경,글씨색 white
1.호버하면 
배경색(255,255,255,.8)
글씨색 로고,ul은 black li는 666666 
*/
/*addClass('on')*/
.header.on{background: rgba(0,0,0,0.8);transition: background 0.35s}
.header.on #logo>a{color:white}
.header.on .dep1>a{color:white}
.header.on .dep2 li>a{color:#A5A5A5}
.header.on .dep2 li:hover a{color:white}

/*addClass('up')*//* 
.header.up{background-color: black;} */
.header.up #logo>a{color:white}
.header.up .dep1>a{color:white}
/* addClass('upOn') */
.header.upOn{background: rgba(255,255,255,.8);transition: background 0.35s}
.header.upOn #logo>a{color:#17171B}
.header.upOn .dep1>a{color:#17171B}
.header.upOn .dep2 li>a{color:#666666}
.header.upOn .dep2 li:hover a{color:#000}
.header.upOn .gnb_bg{background: rgba(255,255,255,.8)}