.ABOUT_section1{
  width: 100vw;
  height: 100vh;
  background: url(../img/상세페이지/회사소개1bg.png) no-repeat;
  background-size: cover;
  position: relative; 

}
.ABOUT1contents{
  width: 100vw;
  height: 100vh;
  position: relative; 
  display: flex;
}
.ABOUT_text{
  position: absolute;
  top: 24.6%;
  left: 19%;
  color: white;
}
.About_top{font-weight: 700; margin-bottom: 68px;}
.About_top p{font-size: 24px;line-height: 18px; margin-bottom: 38px;}
.About_top h3{font-size: 56px;line-height: 41px;}

.About_bottom .bottom_top_txt h6{font-size: 32px; font-weight:400; line-height: 23px;
margin-bottom: 28px;}
.About_bottom .bottom_top_txt h5{font-size: 40px; font-weight: 700;line-height: 40px;}

.bottom_txt{margin-top:20%; font-size: 18px;}
.bottom_txt p{margin-bottom: 20px;}
.bottom_txt>p span{font-weight: 700;}
.bottom_txt #italicstyle{font-style:italic}

.ABOUT_symbol{position: absolute;top: 33%;left: 51.3%;}


.ABOUT_section2{
  width: 100vw;
  height: 100vh;
  background: url(../img/상세페이지/회사연혁.png) no-repeat;
  background-size: cover;
  position: relative; 
}
.ABOUT_section3{
  width: 100vw;
  height: 100vh;
  background: url(../img/상세페이지/방송출현.png) no-repeat;
  background-size: cover;
  position: relative; 
}





/* 섹션2 */
.ABOUT_section2{
  width: 100vw;
  height: 100vh;
  background: url(../img/상세페이지/회사소개2bg.png) no-repeat;
  background-size: cover;
  position: relative; 

}











/* footer */
#footer{/* 
  width: 100vw; */
  height: 757px;
  background: var(--black, #17171B);
  color: var(--white, #FFF);
  position: relative;
}
#footer a{
  color: var(--white, #FFF);
}
#footer .inner{
  width: 1200px;
  height: 620px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;/* 
  gap: 40px; */
}

/* footer-top */
#footer .footer-top{
  display: flex;
  justify-content: space-between;
}
#footer .footer-top .logo{
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */   
}
#footer .footer-top .sns a{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.352px;
}

/* footer-bottom */
/* 각 요소 넓이 맞추기 */
#footer .footer-bottom .left{
  width: 247px;
}
#footer .footer-bottom .middle{
  width: 436px;
}
#footer .footer-bottom .right{
  width: 359px;

/* 요소 공통사항 */
}
#footer .footer-bottom{
  display: flex;
  justify-content: space-between;
}
#footer .footer-bottom .title{
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: -0.264px;  
}
#footer .footer-bottom .title .content{
  padding-top: 24px;
}

/* left */
#footer .footer-bottom .left{  
  display: flex;
  flex-direction: column;
}
#footer .footer-bottom .left .title:first-child{
  padding-bottom: 26px;
}
#footer .footer-bottom .left .title .content{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.176px;
}
#footer .footer-bottom .left .title .content li:nth-child(2){
  padding-top: 4px;
  padding-bottom: 4px;
}
#footer .footer-bottom .left .title:first-child .content li span{
  margin-right: 38px;}

#footer .footer-bottom .left .title:first-child .content li:last-child span{
  margin-right: 11px;}
#footer .footer-bottom .left .title:last-child .content li{
  display: flex;}

#footer .footer-bottom .left .title:last-child .content li span{
  margin-right: 42px;}
  
#footer .footer-bottom .left .title:last-child .content li:nth-child(3) span{
  margin-right: 28px;
}
#footer .footer-bottom .left .title:last-child .content li:last-child span{
  margin-right: 12px;}

#footer .footer-bottom .left .title .content .notice{
  color: #999;}

/* middle */
#footer .footer-bottom .middle .title .content a{
  color: #999;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.176px;
}
#footer .footer-bottom .middle{
  display: flex;
  justify-content: space-between; 
}
#footer .footer-bottom .middle li:first-child{
  width: 199px;
}
#footer .footer-bottom .middle li:nth-child(2){
  width: 158px;
}

/* right */
#footer .footer-bottom .right .title .content{
  color: #999;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: -0.132px;
  }
#footer .footer-bottom .right .title:last-child .content{
  color: #999;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#footer .footer-bottom .right .title .content{
letter-spacing: -0.176px;
}
#footer .footer-bottom .right .title .content a{
  color: #999;
}
#footer .footer-bottom .right .title:last-child .content{
  line-height: normal;
  letter-spacing: 0px;
}
#footer .footer-bottom .right{
  display: flex;
  flex-direction: column;
  text-align: end;
  align-items: end;
}
#footer .footer-bottom .right .title:first-child .content{  
  text-align: end;  
}
#footer .footer-bottom .right .title:nth-child(2){
  padding-top: 87px;
  padding-bottom: 87px;
}
#footer .footer-bottom .right>li:first-child{
  width: auto;
  text-align: start;
}
#footer .footer-bottom .right>li:first-child span{
  padding-left: 10px;
}

/* 중간 선 넣어주기 */
#footer .footer-bottom>ul>li{
  position: relative;
}
#footer .footer-bottom .title>ul::before{
  content: "";
  display: block;
  width: 32px;
  height: 3px;
  background-color: #FFF;
  position: absolute;
  top: 39px;
}
#footer .footer-bottom .middle .title>ul::before{  
  top: 41px;
}
#footer .footer-bottom .right .title>ul::before{
  right: 0;
}
#footer .footer-bottom .right .title>ul::before{
  right: 0;
}
#footer .footer-bottom .right .title:nth-child(2)>ul::before{
  top: 125px;
}

